* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 55%,
    rgba(157, 253, 45, 1) 100%
  );
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  border-bottom: 3px solid black;
  vertical-align: middle;
  background-color: orange;
  margin-bottom: 20px;
}
.titleText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: black;
}

.mascotas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 13.3vh;
}

.listar {
  display: grid;
  grid-template-columns: auto auto;
  border-left: 5px dashed black;
}

.formulario {
  background-color: rgb(222, 222, 197);
  padding: 40px;
  border: 5px solid black;
  border-radius: 20%;
  text-align: center;
}
